<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above three meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Alpheios Texts</title>
    {% for filename, directory in assets["css"].items() %}
      {% if directory %}<link rel="stylesheet" href="{{url_for('.secondary_assets', filetype='css', asset=filename)}}">
      {% else %}<link rel="stylesheet" href="{{ filename }}">
      {% endif %}
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ua-parser-js@0/dist/ua-parser.min.js"></script>

    <meta name="alpheios-pedagogical-text" content="true"/>
    {% if 'greekLit' in objectId %}
    <meta name="alpheios-treebank-url" content="http://tools.alpheios.net/exist/rest/db/xq/treebank-getmorph.xq?f={{ objectId | replace('urn:cts:greekLit:','')}}&amp;w=WORD">
    <meta name="alpheios-treebank-diagram-url" content="version=1.0;http://tools.alpheios.net/exist/rest/db/app/treebank-editsentence.xhtml?doc={{objectId | replace('urn:cts:greekLit:','')}}&amp;app=viewer&amp;id=SENTENCE&amp;w=WORD">
    <meta name="alpheios-v2-treebank-diagram-url" data-alpheios_tb_src="https://alpheios.net/alpheios-treebanks/{{objectId | replace('urn:cts:greekLit:','')}}.html?chunk=SENTENCE&amp;w=WORD">
    {% elif 'latinLit' in objectId %}
    <meta name="alpheios-treebank-url" content="http://tools.alpheios.net/exist/rest/db/xq/treebank-getmorph.xq?f={{ objectId | replace('urn:cts:latinLit:','')}}&amp;w=WORD">
    <meta name="alpheios-treebank-diagram-url" content="version=1.0;http://tools.alpheios.net/exist/rest/db/app/treebank-editsentence.xhtml?doc={{objectId | replace('urn:cts:latinLit:','')}}&amp;app=viewer&amp;id=SENTENCE&amp;w=WORD">
    <meta name="alpheios-v2-treebank-diagram-url" data-alpheios_tb_src="https://alpheios.net/alpheios-treebanks/DOC.html?chunk=SENTENCE&amp;w=WORD">
    {% endif %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block article %}
    {% endblock %}


    {% for filename, directory in assets["js"].items() %}
      {% if 'alpheios-' in filename %} <!-- {{ filename }} is dynamically imported -->
      {% elif directory %}<script src="{{url_for('.secondary_assets', filetype='js', asset=filename)}}"></script>
      {% else %}<script src="{{ filename }}"></script>
      {% endif %}
    {% endfor %}


  {% block additionalscript %}
  {% endblock %}
  {% block pagePopups %}
    {% include "alpheios::helppopup.html" %}
  {% endblock %}
  {% block footer %}
    {% include "main::footer.html" %}
  {% endblock %}
  <script type="text/javascript">
    window.onerror = function(message) {
      var parser = new UAParser();
      var browserData = parser.getBrowser();
      var allowedBrowsers = ['Chrome', 'Firefox', 'Mobile Safari', 'Safari'];

      if (allowedBrowsers.indexOf(browserData.name) === -1) {
        var messageNew = 'Alpheios may not work with your browser. Please use Chrome, Firefox or Safari to access this site.';
        console.error(messageNew);
        window.alert(messageNew);
      } else {
        console.error(message)
      }
    }
  </script>
  <script type="text/javascript">
      const textLangCode = 'lat'
      {% if collections['current'] and collections['current']['id'] and 'greek' in collections['current']['id'] %}
        textLangCode = 'grc'
      {% endif %}

      const embedProps = {
        alpheiosEmbedJSURL: '/assets/nemo.secondary/js/alpheios-embedded.min.js',
        alpheiosEmbedSupportJSURL: '/assets/nemo.secondary/js/alpheios-embed-support.js',
        alpheiosComponentsJSURL: '/assets/nemo.secondary/js/alpheios-components.min.js',
        clientProps: {
                        clientId:'alpheios-reader',
                        authEnv: serverEnv,
                        enabledSelector:'.entry-content',
                        popupInitialPos: {
                          left: '50px',
                          top: '230px'
                        },
                        toolbarInitialPos: {
                          top: '220px',
                          right: '15px'
                        },
                        layoutType: 'readingTools',
                        textLangCode: textLangCode
                      }
      }

      document.addEventListener("DOMContentLoaded", function(event) {
        import (embedProps.alpheiosEmbedJSURL).then(embedLib => {
          console.info(`Embedded library has been imported successfully`)

          window.AlpheiosEmbed.importDependencies({ 
            mode: 'custom',
            libs: { components: embedProps.alpheiosComponentsJSURL } 
          }).then(Embedded => {
                const embedded = new Embedded(embedProps.clientProps)
                embedded.activate().then(function () {
                  import (embedProps.alpheiosEmbedSupportJSURL)
                    .then(m => m.embedPostActivation(embedded))
                    .catch(e => console.error(`There is an error importing alpheios-embed-support.js:`, e))
                })
          }).catch(e => {
            console.error(`Import of an embedded library dependencies failed: ${e}`)
          })

        }).catch(e => {
          console.error(`Import of an embedded library dependencies failed: ${e}`)
        })
      });

  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{gtrack}}', 'auto');
    ga('send', 'pageview');

  </script>

  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      content: {
        link: 'Learn more',
        href: 'https://alpheios.net/pages/privacy-policy',
        target: '_blank',
      }
    })});
  </script>
  </body>
</html>
