{% extends "main::container.html" %}

{% macro header_passage() %}
<header>
    <h2>
      <span class="author vcard"><span class="fn">{{collections.current.author}}</span>,</span>
      <span class="entry-title">{{collections.current.title}}</span>
      <span class="subreference-all">({{subreference}})</h3>
      <p class="alpheios-text-source">
        <span data-toggle="popover" data-trigger="click hover focus">Source</span>
        <span class="popover-content">
          <span class="entry-summary">{{collections.current.label}}, <i>{{collections.current.description}}</i></span><br/>
          <span class='Z3988' title='{{collections.current.coins}}'></span><br/>
          <span class="copyright text-small">Made available under the Creative Commons Attribution 4.0 International License.</span>
        </span>
      </p>
    </h2>
</header>
{% endmacro %}

{% macro nav() %}
    {% if prev %}
    <a class="btn btn-xs btn-primary prev" data-prev="{{ prev }}" href="{{url_for('.r_passage', objectId=objectId, subreference=prev) }}">
      <i class="fas fa-angle-left"></i>
    </a>
    {% else %}
    <a class="btn btn-xs btn-primary prev d-none" data-prev="NaN" href="{{url_for('.r_passage', objectId=objectId, subreference='NaN') }}">
      <i class="fas fa-angle-left"></i>
    </a>
    {% endif %}
    {% if next %}
    <a class="btn btn-xs btn-primary next" data-next="{{ next }}" href="{{url_for('.r_passage', objectId=objectId, subreference=next) }}">
        <i class="fas fa-angle-right"></i>
    </a>
    {% endif %}
{% endmacro %}

{% macro default_footer() %}
    {% include "main::passage_footer.html" %}
{% endmacro %}

{% macro show_passage(text, subreference, header, navigation, footer) %}
<article class="hentry entry white">
  <div class="alert alert-info alert-dismissible show alpheios-hint-trigger-desktop" role="alert">
    Double-click on a word to access morphology and definitions.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
        {{ header }}
    <nav>
        {{ navigation }}
    </nav>
    <section class="entry-content" role="main">
      <h3 class="subreference">{{subreference}}</h3>
        {% if cache_active %}
            {% cache cache_time, cache_key %}{{ text_passage }} {% endcache %}
        {% else %}
            {{ text_passage }}
        {% endif %}
    </section>

    <footer>
      {{ footer }}
    </footer>
</article>
{% endmacro %}

{% block article %}
    {{ show_passage(text_passage, subreference, navigation=nav(), header=header_passage(), footer=default_footer()) }}
{% endblock %}

{% block additionalscript %}
{{ super() }}
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      new Alpheios.Embedded({'clientId':'alpheios-reader', 'enabledSelector':'.entry-content'}).activate();
    });

  </script>
<script type="text/javascript">
  $("a.urn").each(function() {
		var urn = $(this).attr("href").split(":"),
      passage_id = urn.slice(length-1).join(":"),
      text_id = urn.slice(0, length-1).join(":");
    var passage_route = "{{url_for('.r_passage', objectId='--text_id--', subreference='--passage_id--') }}".replace("--text_id--", text_id).replace('--passage_id--', passage_id);
		$(this).attr("href", passage_route);
  });
</script>
{% endblock %}

{% block metadata %}
{% endblock %}
