{% extends "main::container.html" %}
{% include "alpheios::navreader.html" %}

{% macro source_passage() %}
  <div class="alpheios-text-source d-none">
      <div class="entry-summary" lang="{{collections.current.label_lang}}">{{collections.current.label}}, <i>{{collections.current.description}}</i></div>
      <div class='Z3988' title='{{collections.current.coins}}'></div>
      <div class="copyright">Made available under the Creative Commons Attribution 4.0 International License.</div>
    <div class="xml">XML:
  	   <a href="/api/cts?request=GetPassage&urn={{objectId}}&subreference={{subreference}}" target='_blank'>Passage</a>
  	   <a href="/api/cts?request=GetPassage&urn={{objectId}}&subreference={{subreference}}" target='_blank'>Full Text</a>
    </div>
  </div>
{% endmacro %}

{% macro default_footer() %}
    {% include "main::passage_footer.html" %}
{% endmacro %}

{% macro show_passage(text, subreference, source, footer) %}
<article class="hentry entry white">
    {{ source }}
    {% include "alpheios::breadcrumbtext.html" %}
    <section id="reading-container">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
          <div class="column entry-content">
            {% if new_level %}
              <div class="newlevel">{{new_level}}</div>
            {% endif %}
              {% if cache_active %}
                  {% cache cache_time, cache_key %}{{ text_passage }} {% endcache %}
              {% else %}
                  {{ text_passage }}
              {% endif %}
          </div>
        </div>
      </div>
    </section>

    <footer>
      {{ footer }}
    </footer>
</article>
{% endmacro %}

{% block article %}
    {{ show_passage(text_passage, subreference, source=source_passage(), footer=default_footer()) }}
{% endblock %}

{% block additionalscript %}
{{ super() }}
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      new Alpheios.Embedded({'clientId':'alpheios-reader', 'enabledSelector':'.entry-content'}).activate();
    });

  </script>
<script type="text/javascript">
  $("a.urn").each(function() {
		var urn = $(this).attr("href").split(":"),
      passage_id = urn.slice(length-1).join(":"),
      text_id = urn.slice(0, length-1).join(":");
    var passage_route = "{{url_for('.r_passage', objectId='--text_id--', subreference='--passage_id--') }}".replace("--text_id--", text_id).replace('--passage_id--', passage_id);
		$(this).attr("href", passage_route);
  });
</script>
{% endblock %}

{% block metadata %}
{% endblock %}
