<div id="bibliogPopup" class="modal fade bibliog-popup" role="dialog">
    <div class="modal-dialog bibliog-popup-dialog">
        <div class="modal-content bibliog-popup-content">

            <div class="modal-header bibliog-popup-header">
                <h3 class="modal-title bibliog-popup-title">Bibliographic Information</h3>
                <a href="#" class="toolbar-button-icon" data-dismiss="modal">{% include "alpheios::icons/X-Close-Icon.svg" %}</a>
            </div>

            <div class="modal-body bibliog-popup-body">
                <div class="entry-summary" lang="{{collections.current.label_lang}}">{{collections.current.label}}, <i>{{collections.current.description}}</i></div>
                <div class='Z3988' title='{{collections.current.coins}}'></div>
                <div class="copyright">Made available under the Creative Commons Attribution 4.0 International License.</div>
            </div>

            <div class="modal-footer bibliog-popup-footer">
                <span class="bibliog-popup-footer-title">XML Version:</span>
                <a href="/api/cts?request=GetPassage&urn={{objectId}}:{{subreference}}" target='_blank' class="bibliog-popup-footer-link ">Passage</a>
                <span class="bibliog-popup-footer-link-divider"></span>
                <a href="/api/cts?request=GetPassage&urn={{objectId}}" target='_blank' class="bibliog-popup-footer-link">Full Text</a>
            </div>
        </div>
    </div>
</div>