<nav id="breadcrumb" class="navbar navbar-dark bg-dark box-shadow-bottom-bottom">
    <ol class="breadcrumb">
      {% for crumb in breadcrumbs: -%}
        {% if loop.index == 4 %}
          {% if 'references' in request.path %}
            {% set link = '.r_first_passage' %}
          {% else %}
            {% set link = '.r_references' %}
          {% endif %}
        {% else %}
          {% set link = crumb['link'] %}
        {% endif %}
        {%- if link -%}
          {%- if crumb['args']['objectId'] %}
            {% if loop.index == 4 %}
              {% set args = { 'objectId': objectId } %}
            {% else %}
              {% set args = { 'objectId': crumb['args']['objectId'] } %}
            {% endif %}
          {% else %}
            {% set args = {} %}
          {% endif %}
          <li class="breadcrumb-item"><a href="{{url_for(link, **args)}}">{{crumb["title"]}}</a></li>
        {% else %}
          <li class="breadcrumb-item active">{{crumb["title"]}}</li>
        {% endif %}
      {%- endfor %}
    </ol>
</nav>