<nav class="navbar navbar-light bg-light border-bottom">
  <div class="navbar-nav mr-auto">
    <div class="nav-link">
        <span><span class="current">{{breadcrumbs[-1]["title"]}}</span><span class="spacer">-</span><span class="parent">{{breadcrumbs[-3]["label"]}}</span></span>
    </div>
  </div>
  <div class="navbar-nav ml-auto bg-midnightblue">
    <button class="btn btn-icon btn-icon-wide">
      <a href="#" id='alpheios-toolbar-component'>
        <span class="icon-label">Open Tools</span>
      </a>
    </button>
  </div>
</nav>