<nav class="navbar bg-white shadow navbar-secondary breadcrumb-navbar">
  <div class="navbar-nav">
    <a href="#" id='bibliog-button' class="nav-link-current-text" data-toggle="modal" data-target="#bibliogPopup">
        <h4 class="toolbar-button-text">
          <span class="current">{{breadcrumbs[-1]["title"]}}</span>
          <span class="spacer">-</span>
          <span class="parent">{{breadcrumbs[-3]["label"]}}</span>
        </h4>
        <span class="toolbar-button-icon">{% include "alpheios::icons/Bibliography-Source-Icon.svg" %}</span>
      </a>
  </div>


  <div class="navbar navbar-section-ref">
    <a class="navbar-section-ref-link btn btn-xs prev {{'no-visibility' if not prev }}" data-prev="{{ prev|default(NaN) }}" id="prev-passage"
       href="{{url_for('.r_passage', objectId=objectId, subreference=prev) if prev else 'javascript:void(0)' }}">
       <span class="toolbar-button-icon">{% include "alpheios::icons/Left-caret.svg" %}</span>
    </a>
    <div class="subreference-all" id="current-passage" data-objectid="{{ objectId }}" data-subreference="{{ subreference }}">{{ subreference }}</div>
    <a class="navbar-section-ref-link btn btn-xs next {{'no-visibility' if not next }}" data-next="{{ next|default(NaN) }}" id="next-passage"
        href="{{url_for('.r_passage', objectId=objectId, subreference=next) if next else 'javascript:void(0)'}}">
        <span class="toolbar-button-icon">{% include "alpheios::icons/Right-caret.svg" %}<span>
    </a>
  </div>

  <div class="navbar navbar-section-ref-jump">
    <form id="jump_passage" name="jump_passage" action="{{url_for('.r_passage',objectId=objectId,subreference='REPLACE_REF')}}">
      <div class="inputcontainer">
        <input class="form-control" type="text" id="find_subreference" placeholder="Find passage ..." size="10"
          name="subreference" data-route="{{url_for('.r_passage_json',objectId=objectId,subreference='REPLACE_REF')}}">
        <div class="icon-container">
          <span class="loader"></span>
        </div>
      </div>
    </form>
  </div>

</nav>