<nav class="navbar bg-white shadow navbar-secondary breadcumb-navbar">
  <div class="navbar-nav">
    <a href="#" id='alpheios-toolbar-component' class="nav-link-current-text" data-toggle="modal" data-target="#bibliogPopup">
        <span class="toolbar-button-icon">{% include "alpheios::icons/Bibliography-Source-Icon.svg" %}</span>
        <span class="toolbar-button-text">
          <span class="current">{{breadcrumbs[-1]["title"]}}</span>
          <span class="spacer">-</span>
          <span class="parent">{{breadcrumbs[-3]["label"]}}</span>
        </span>
      </a>
  </div>


  <div class="navbar navbar-section-ref">
    <a class="navbar-section-ref-link btn btn-xs prev {{'no-visibility' if not prev }}" data-prev="{{ prev|default(NaN) }}" 
       href="{{url_for('.r_passage', objectId=objectId, subreference=prev) if prev else '#' }}">
       <span class="toolbar-button-icon">{% include "alpheios::icons/Left-caret.svg" %}</span>
    </a>   
    <div class="subreference-all">{{ subreference }}</div>
    <a class="navbar-section-ref-link btn btn-xs next {{'no-visibility' if not next }}" data-prev="{{ next|default(NaN) }}" 
        href="{{url_for('.r_passage', objectId=objectId, subreference=next) if next else '#'}}">
        <span class="toolbar-button-icon">{% include "alpheios::icons/Right-caret.svg" %}<span>
    </a>
  </div>

  <div class="navbar-nav bg-dark alpheios-nemo-toolbar h-100">
    <a href="#" id='alpheios-toolbar-component' class="alpheios-nemo-toolbar-button">
      <span class="toolbar-button-icon">{% include "alpheios::icons/Alpheios-Reader-Icon.svg" %}</span>
      <span class="toolbar-button-text">Open Tools</span>
    </a>
  </div>
</nav>