<li class="shadow">
    <div class="left-part">
      <span lang="{{collections.current.label_lang}}" class="card-title">{{ coll.work.label }}</span>
      <a class="card-link" href="{{url_for('.r_references', objectId=ed.id)}}">TOC</a>
    </div>
    <div class="right-part">
      <a class="card-link" href="{{url_for('.r_first_passage', objectId=ed.id)}}">
        <span class="card-icon">{% include "alpheios::icons/Alpheios-Reader-Icon.svg" %}</span>
        <span class="card-text">Read</span>
      </a>
    </div>
  </li>