{% extends "main::container.html" %}
{% block article %}
<div class="article-wrap">

  {% include "alpheios::navlogin.html" %}
  {% include "alpheios::navcollection.html" %}
  {% include "alpheios::breadcrumb.html" %}
  {% include "alpheios::mainnavmenu.html" %}

  <div class="d-flex" id="reading-container">
    <article id="browse-container" class="collection-browse-container">
        <header class="collection-browse-header">
            {% if collections.current %}
              <h3  class="collection-browse-header-title">
              <span lang="{{collections.current.label_lang}}">{{collections.current.label}}</span>
              </h3>
              {% if collections.current.class == 'XmlCtsTextgroupMetadata' %}
                <p><i>Select a work</i></p>
              {% else %}
                <p><i>Select an author</i></p>
              {% endif %}
            {% else %}
              <h3  class="collection-browse-header-title">
              Language
              </h3>
              <p><i>Select a language</i></p>
            {% endif %}
        </header>
        <section class="card-columns">
            <ul class="collection-browse-cards">
            {% if collections.types|length > 0 %}
              {% for type in collections.types %}
                <li class="card">
                  <h3>{{type}}</h3>
                  <ul>
                    {% for coll in collections.types[type] %}
                      <li class="card"><span lang="{{collections.current.label_lang}}">{{ coll.work.label }}</span><br/>
                          {% set ed = coll.editions[0] %}
                          <a class="card-link" href="{{url_for('.r_references', objectId=ed.id)}}">Browse</a>
                          <a class="card-link" href="{{url_for('.r_first_passage', objectId=ed.id)}}">Read</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            {% elif collections.expanded_members|length > 0 %}
              {% for coll in collections.expanded_members %}
                  <li class="card"><span lang="{{collections.current.label_lang}}">{{ coll.work.label }}</span><br/>
                      {% set ed = coll.editions[0] %}
                      <a class="card-link" href="{{url_for('.r_references', objectId=ed.id)}}">Browse</a>
                      <a class="card-link" href="{{url_for('.r_first_passage', objectId=ed.id)}}">Read</a>
                  </li>
              {% endfor %}
            {% else %}
              {% for coll in collections.members %}
                  {% if coll.model == 'http://w3id.org/dts-ontology/resource' %}
                  <li class="card">
                      <span lang="{{coll.label_lang}}">{{ coll.label }}</span><br />
                      <a class="card-link" href="{{url_for('.r_references', objectId=coll.id)}}">Browse</a>
                      <a class="card-link" href="{{url_for('.r_first_passage', objectId=coll.id)}}">Read</a>
                  </li>
                  {% else %}
                  <li class="collection-browse-card-item">
                      <a class="card-link collection-browse-card-item-link" href="{{url_for('.r_collection', objectId=coll.id)}}">
                        <span>{{ coll.label }} ({{coll.size}})</span>
                        <span class="collection-browse-card-item-icon">{% include "alpheios::icons/Right-caret.svg" %}</span>
                      </a>
                  </li>
                  {% endif %}
              {% endfor %}
            {% endif %}
            </ul>
        </section>
        <section class="collection-browse-copyright">
          <button class="btn btn-large btn-outline-muted copyright-button" data-toggle="modal" data-target="#copyrightPopup">© Copyright Info</button>
        </section>
    </article>
  </div>
</div>
{% endblock %}

{% block pagePopups %}
{% include "alpheios::copyrightpopup.html" %}
{% endblock %}

