{% extends "main::container.html" %}
{% block article %}
<div class="article-wrap">

  {% include "alpheios::navlogin.html" %}
  {% include "alpheios::navcollection.html" %}
  {% include "alpheios::breadcrumb.html" %}
  {% include "alpheios::mainnavmenu.html" %}

  <div class="d-flex {{ 'collection-small-cards' if collections.current and collections.current.class == 'XmlCtsTextgroupMetadata' }}" id="reading-container">
    <article id="browse-container" class="collection-browse-container">
        <header class="browse-header">
            {% if collections.current %}
              <h3  class="browse-header-title">
              <span lang="{{collections.current.label_lang}}">{{collections.current.label}}</span>
              </h3>
              {% if collections.current.class == 'XmlCtsTextgroupMetadata' %}
                <p><i>Select a work</i></p>
              {% else %}
                <p><i>Select an author</i></p>
              {% endif %}
            {% else %}
              <h3  class="browse-header-title">Language</h3>
              <p><i>Select a language</i></p>
            {% endif %}
        </header>
        <section class="browse-section">
            <ul class="{{ 'collection-browse-cards' if collections.types|length == 0 else 'collection-genres' }}">
            {% if collections.types|length > 0 %}
              {% for type in collections.types %}
                <li class="">
                  <h3>{{type}}</h3>
                  <ul class="collection-browse-cards">
                    {% for coll in collections.types[type] %}
                    {% set ed = coll.editions[0] %}
                      {% include "alpheios::collection-item-card.html" %}
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            {% elif collections.expanded_members|length > 0 %}
              {% for coll in collections.expanded_members %}
                  {% set ed = coll.editions[0] %}
                  {% include "alpheios::collection-item-card.html" %}
              {% endfor %}
            {% else %}
              {% for coll in collections.members %}
                  {% if coll.model == 'http://w3id.org/dts-ontology/resource' %}
                  {% include "alpheios::collection-item-card.html" %}
                  {% else %}
                  <li class="browse-list-item">
                      <a class="list-item-link" href="{{url_for('.r_collection', objectId=coll.id)}}">
                        <span>{{ coll.label }} ({{coll.size}})</span>
                        <span class="list-item-icon">{% include "alpheios::icons/Right-caret.svg" %}</span>
                      </a>
                  </li>
                  {% endif %}
              {% endfor %}
            {% endif %}
            </ul>
        </section>
        <section class="browse-copyright">
          <button class="btn btn-large btn-outline-muted copyright-button" data-toggle="modal" data-target="#copyrightPopup">© Copyright Info</button>
        </section>
    </article>
  </div>
</div>
{% endblock %}

{% block pagePopups %}
{% include "alpheios::copyrightpopup.html" %}
{% endblock %}

