<div id="copyrightPopup" class="modal fade copyright-popup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content copyright-popup-content">
            <div class="modal-header copyright-popup-header">
                <h3 class="modal-title copyright-popup-title">Copyright Information</h3>
                <a href="#" class="toolbar-button-icon" data-dismiss="modal">{% include "alpheios::icons/X-Close-Icon.svg" %}</a>
            </div>
            <div class="modal-body copyright-popup-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>