<div id="findPassagePopup" class="modal fade find-passage-popup" role="dialog">
    <div class="modal-dialog find-passage-popup-dialog">
        <div class="modal-content find-passage-popup-content">

            <div class="modal-header find-passage-popup-header">
                <h3 class="modal-title find-passage-popup-title">Passage Not Found</h3>
                <a href="#" class="toolbar-button-icon" data-dismiss="modal">{% include "alpheios::icons/X-Close-Icon.svg" %}</a>
            </div>

            <div class="modal-body find-passage-popup-body">
                <p id="find-passage-popup-body-text">Invalid passage</p>
            </div>
        </div>
    </div>
</div>