<div id="helpPopup" class="modal fade help-popup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content help-popup-content">
        <div class="modal-header help-popup-header">
          <h3 class="modal-title help-popup-title">Getting Started</h3>
        </div>
        <div class="modal-body help-popup-body">
          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/Tap-Gesture-Icon.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Word interaction:</span>
              <span class="help-popup-list-item-description d-sm-block d-md-none">Tap on a word to access the tool panel</span>
              <span class="help-popup-list-item-description d-none d-sm-none d-md-block">Double-click on a word to access the tool panel</span>
            </span>
          </div>

          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/Menu-Icon.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Main Menu:</span>
              <span class="help-popup-list-item-description">Navigate what Alpheios has to offer (top left)</span>
            </span>
          </div>

          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/Browse-Passages-Icon.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Browse Passages:</span>
              <span class="help-popup-list-item-description">Navigate the current work's passages (top right)</span>
            </span>
          </div>

          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/Alpheios-Reader-Icon.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Reading Tools:</span>
              <span class="help-popup-list-item-description">View definitions, grammar, and more (in the tool panel)</span>
            </span>
          </div>

          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/Left-Right-caret.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Quick Passage Navigation</span>
              <span class="help-popup-list-item-description">Move forward and back through passages</span>
            </span>
          </div>
  
          <div class="help-popup-list-item">
              <span class="help-popup-list-item-icon">{% include "alpheios::icons/Bibliography-Source-Icon.svg" %}</span>
              <span class="help-popup-list-item-text">
                <span class="help-popup-list-item-title">Bibliography Information</span>
                <span class="help-popup-list-item-description">Tap the work's title for info</span>
              </span>
            </div>

        </div>
        <div class="modal-footer help-popup-footer">
          <button type="button" class="btn alpheios-button-primary help-popup-footer-button" data-dismiss="modal">Ok, got it</button>
        </div>
      </div>
  
    </div>
  </div>