<div id="helpPopup" class="modal fade help-popup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content help-popup-content">
        <div class="modal-header help-popup-header">
          <h3 class="modal-title help-popup-title">Getting Started</h3>
          <a href="#" class="toolbar-button-icon" data-dismiss="modal">{% include "alpheios::icons/X-Close-Icon.svg" %}</a>
        </div>
        <div class="modal-body help-popup-body">
          <div class="help-popup-list-item help-popup-list-knownissues-item">
              <a target="_blank" href="https://alpheios.net/pages/v3/faq"><button type="button" class="btn knownissues-button">FAQ/Known Issues</button></a>
          </div>

          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/Tap-Gesture-Icon.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Word Selection:</span>
              <span class="help-popup-list-item-description d-sm-block d-md-none">Tap on a word to retrieve lemmas, morphology, short definitions and  and icons for additional resources, such as long definitions, and, when available, inflection tables, usage examples, and sentence diagrams.</span>
              <span class="help-popup-list-item-description d-none d-sm-none d-md-block">Double-click on a word to retrieve lemmas, morphology, short definitions  and icons for additional resources, such as long definitions, and, when available, inflection tables, usage examples, and sentence diagrams.</span>
            </span>
          </div>

          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/lookup.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Word Lookup:</span>
              <span class="help-popup-list-item-description">Opens a lookup box in which you can enter any word to see its lemmas, morphology etc, just as if you had selected it in a text. Note that you can change the language in which the word will be searched.</span>
            </span>
          </div>


          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/tools-icon.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Additional Resources:</span>
              <span class="help-popup-list-item-description">Shows a series of icons for other resources, including browsable inflection tables and grammars, setting options, and, if you have logged in, your word lists and profile.</span>
            </span>
          </div>

          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/Menu-Icon.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Main Menu:</span>
              <span class="help-popup-list-item-description">See available texts and access your user account.</span>
            </span>
          </div>

          <div class="help-popup-list-item">
            <span class="help-popup-list-item-icon">{% include "alpheios::icons/Browse-Passages-Icon.svg" %}</span>
            <span class="help-popup-list-item-text">
              <span class="help-popup-list-item-title">Table of Contents:</span>
              <span class="help-popup-list-item-description">Go to the table of contents of the current work. (top right)</span>
            </span>
          </div>

          <div class="help-popup-list-item">
              <span class="help-popup-list-item-icon">{% include "alpheios::icons/Bibliography-Source-Icon.svg" %}</span>
              <span class="help-popup-list-item-text">
                <span class="help-popup-list-item-title">Bibliographic Information</span>
                <span class="help-popup-list-item-description d-sm-block d-md-none">Tap the work's title for bibliographic and copyright details</span>
                <span class="help-popup-list-item-description d-none d-sm-none d-md-block">Click the work's title for bibliographic and copyright details</span>
              </span>
            </div>

        </div>
        <div class="modal-footer help-popup-footer">
          <button type="button" class="btn alpheios-button-primary help-popup-footer-button" data-dismiss="modal">Ok, got it</button>
        </div>
      </div>

    </div>
  </div>