{% macro single_ref(objectId, subreference, human_reff) -%}
    <li class="shadow  small-card">
        <a class="list-item-link" href="{{url_for('.r_passage', objectId=objectId, subreference=subreference)}}">
          <span>{{ human_reff|i18n_citation_item }}</span>
          <span class="list-item-icon">{% include "alpheios::icons/Right-caret.svg" %}</span>
        </a>
    </li>
{%- endmacro %}

{% macro reff_dict_header(objectId, reffs, booktitle, bookLevel, prevBrowseLink, prevBookTitle) -%}
  {% set reffitems = reffs.items() %}
  {% set finalBookTitle = (prevBookTitle+' ' if prevBookTitle else '') + booktitle|i18n_readable_book_title %}

  {% for human_reff, dict_or_reff in reffitems %}
    {% set browseLink = booktitle|citation_link %}
    {% set prevBookTitle = booktitle|i18n_readable_book_title if bookLevel > 1 else None %}
    {% if loop.index == 1 %}
      {% set browseLink = booktitle|citation_link %}

      <div class="browse-level browse-level-{{ bookLevel }} {{ prevBrowseLink+'-' if prevBrowseLink }}{{ browseLink if browseLink }}">
        {% if human_reff|citation_name == 'passage' %}
          <h3 class="browse-header-title">Passage (<span>{{ finalBookTitle }}</span>)
            {% if bookLevel > 1 %}
              <a href="#" class="book-level-prev"><span class="link-icon">{% include "alpheios::icons/back.svg" %}</span></a>
            {% endif %}
          </h3>
        {% elif human_reff|citation_name == 'chapter' %}
          <h3 class="browse-header-title">Chapter  (<span>{{ finalBookTitle }}</span>)
            {% if bookLevel > 1 %}
              <a href="#" class="book-level-prev"><span class="link-icon">{% include "alpheios::icons/back.svg" %}</span></a>
            {% endif %}
          </h3>
        {% else %}
          <h3 class="browse-header-title">{{ human_reff|i18n_citation_label }}  (<span>{{ finalBookTitle }}</span>)
            {% if bookLevel > 1 %}
              <a href="#" class="book-level-prev"><span class="link-icon">{% include "alpheios::icons/back.svg" %}</span></a>
            {% endif %}
          </h3>
        {% endif %}
      </div>
    {% endif %}


    {% if dict_or_reff|is_str == false %}
        {{ reff_dict_header(objectId, dict_or_reff, human_reff, bookLevel + 1, browseLink, prevBookTitle) }}
    {% endif %}
  {% endfor %}

{%- endmacro %}

{% macro hierarchical_header_dispatcher(objectId, reffs, citation, booktitle, bookLevel) -%}
    {{ reff_dict_header(objectId, (reffs|hierarchical_passages_full(citation)), booktitle, bookLevel, None, None) }}
{%- endmacro %}

{% macro reff_dict(objectId, reffs, booktitle, prevBookTitle) -%}
    {% set reffs = reffs.items() %}
    <ul class="reference-browse-cards {{prevBookTitle+'-' if prevBookTitle}}{{booktitle if booktitle}}">
      {% for human_reff, dict_or_reff in reffs %}
        {% if dict_or_reff|is_str %}
          {% if loop.index == 1 %}
            <ul class="collection-browse-cards single-refs">
          {% endif%}
          {{ single_ref(objectId, dict_or_reff, human_reff) }}
          {% if loop.index == reffs|length %}
            </ul>
          {% endif %}
        {% else %}
          {% if human_reff|citation_name != 'passage' %}
            {% set booktitleLower = human_reff|citation_link  %}
            <li class="browse-list-item">
                <a class="list-item-link" href="#" data-book-title="{{booktitle+'-' if booktitle}}{{booktitleLower}}">
                  <span>{{human_reff|i18n_citation_label}} {{human_reff|i18n_citation_item}}</span>
                  <span class="list-item-icon">{% include "alpheios::icons/Right-caret.svg" %}</span>
                </a>
            </li>
          {% endif %}
          {{ reff_dict(objectId, dict_or_reff, booktitleLower, booktitle) }}
        {% endif %}
      {% endfor %}
    </ul>
{%- endmacro %}

{% macro hierarchical_dispatcher(objectId, reffs, citation) -%}
    {{ reff_dict(objectId, (reffs|hierarchical_passages_full(citation)), None, None) }}
{%- endmacro %}