<nav id="mainnav" class="navbar navbar-dark bg-dark border-bottom">
   <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="mainmenu" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapsed collapse navbar-collapse" id="navbarSupportedContent">
    {% include "alpheios::navmenu.html" %}
  </div>
  <h1>Collections</h1>
  <div class="ml-auto d-inline w-20">
    <input id="fullsearch" class="form-control form-inline" type="text" placeholder="Find a text" data-noresult="No results" data-target="{{url_for('.r_typeahead_json')}}"/>
  </div>
</nav>