<nav id="mainnav" class="navbar navbar-dark main-navbar">
    <div class="navbar-left-part">
      {% include "alpheios::navmenu.html" %}
      <h3 class="navbar-text main-navbar-text">Collections</h3>
      <img class="main-navbar-logo" src="{{url_for('.secondary_assets', filetype='static', asset='Alpheios-Logo-White.png')}} " alt="Alpheios Reading Center" />
    </div>
    <div class="navbar-right-part">
      <button class="btn main-navbar-btn" data-toggle="modal" data-target="#helpPopup">
        <span class="toolbar-button-icon">{% include "alpheios::icons/Help-icon.svg" %}</span>
        <span class="toolbar-button-text">Help</span>
      </button>
    </div>
</nav>