<nav id="navlogin" class="navbar navlogin">
    <div class="logo-container navlogin-logo-container">
        <a href="{{ url_for('.r_index') }}"><img class="logo" src="{{url_for('.secondary_assets', filetype='static', asset='alpheios-logo.svg')}} " alt="Alpheios Reading Center" /></a>
        <h1>Reading Center</h1>
    </div>
    
    <div class="navlogin-login-container">
        {% if 'profile' in session and session.profile != None %}
        <a class="navlogin-login-container-link" href="#" role="button" id="dropdownLoginMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navlogin-login-container-text">Logged in as {{ session.profile.nickname }}</span>
            <span class="navlogin-login-container-icon">{% include "alpheios::icons/Down-caret.svg" %}</span>
        </a>
        {% else %}
            <a class="btn btn-default alpheios-button-primary" href="{{url_for('.r_login')}}?next={{ request.url }}">Login</a>
        {% endif %}
        <div class="dropdown-menu navlogin-dropdown-menu" aria-labelledby="dropdownLoginMenu">
            {% include "alpheios::logout.html" %}
        </div>
    </div>
</nav>