<ul class="navbar-nav ml-auto">
{% for crumb in menu: -%}
  {% if loop.index < 4 %}
    {% set args = { 'objectId': crumb['args']['objectId'] } %}
    <li class="nav-item">
      {% if crumb.current %}
        <a class="nav-link" href="{{url_for(crumb.link, **args)}}">{{crumb.title}}<span class="current"> ({{crumb.current}})</span></a>
      {% else %}
        <a class="nav-link" href="{{url_for(crumb.link, **args)}}">{{crumb.title}}</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
 <li class="nav-item">
   <a class="nav-link" href="https://alpheios.net">Go to Alpheios.net</a>
 </li>
{% include "alpheios::usermenu.html" %}
</ul>
