<nav id="mainnav" class="navbar navbar-dark bg-dark main-navbar">

    {% include "alpheios::navmenu.html" %}
    {% set args = { 'objectId': objectId } %}
    <h3 class="navbar-text main-navbar-text">Alpheios: Reader</h3>
    <img class="main-navbar-logo" src="{{url_for('.secondary_assets', filetype='static', asset='Alpheios-Logo-White.png')}} " alt="Alpheios Reading Center" />
    <div class="ml-auto d-inline w-20">
      <button class="btn main-navbar-btn" data-toggle="modal" data-target="#helpPopup">
        <span class="toolbar-button-icon">{% include "alpheios::icons/Help-icon.svg" %}</span>
        <span class="toolbar-button-text">Help</span>
      </button>

        <a href="{{url_for('.r_references',**args) }}" class="btn main-navbar-btn">
          <span class="toolbar-button-icon">{% include "alpheios::icons/Browse-Passages-Icon.svg" %}</span>
          <span class="toolbar-button-text">Browse</span>
        </a>
    </div>

</nav>
