<nav id="mainnav" class="navbar navbar-dark bg-dark main-navbar">
  <div class="navbar-left-part">
    {% include "alpheios::navmenu.html" %}
    <div class="navbar-text main-navbar-text">Browse Passages</div>
  </div>

  <div class="navbar-right-part">
    {% set args = { 'objectId': objectId } %}
      <a href="{{url_for('.r_first_passage',**args) }}" class="btn main-navbar-btn">
        <span class="toolbar-button-icon">{% include "alpheios::icons/Reader-icon.svg" %}</span>
        <span class="toolbar-button-text">Back to Reader</span>
      </a>
  </div>
</nav>