@mixin alpheios-h1-mobile() {
    font-size: 22px;
    font-weight: 800;
    font-style: normal;
    font-family: $font-family-serif;
}

@mixin alpheios-h1() {
    @include alpheios-h1-mobile();

    @include media-breakpoint-up(md) {
        font-size: 36px;
        font-weight: 800;
        font-style: normal;
    }
}

@mixin alpheios-h2-mobile() {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: $font-family-sans-serif;
}

@mixin alpheios-h2() {
    @include alpheios-h2-mobile();
    
    @include media-breakpoint-up(md) {
        font-size: 36px;
        font-weight: bold;
        font-style: normal;        
        font-family: $font-family-serif;
    }
}


@mixin alpheios-h3-mobile() {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: $font-family-sans-serif;
}

@mixin alpheios-h3() {
    @include alpheios-h3-mobile();
 
    @include media-breakpoint-up(md) {
        font-size: 22px;
        font-weight: bold;
        font-style: normal;        
    }
}

@mixin alpheios-h4-mobile() {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-serif;
}

@mixin alpheios-h4() {
    @include alpheios-h4-mobile();

    @include media-breakpoint-up(md) {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
    }
}

@mixin alpheios-h5-mobile() {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-family: $font-family-sans-serif;
}

@mixin alpheios-h5() {
    @include alpheios-h5-mobile();

    @include media-breakpoint-up(md) {
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
    }
}

@mixin alpheios-body() {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-sans-serif;
}


@mixin alpheios-h6() {
    @include alpheios-body();
}

@mixin alpheios-large-label() {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-sans-serif;
}

@mixin alpheios-small-label() {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-sans-serif;
}

@mixin alpheios-vivid() {
    color: $alpheioscolorvivid;
    svg {
        fill: $alpheioscolorvivid;
        stroke: $alpheioscolorvivid;
    }
    &:hover {
        color: $alpheioscolorvividhover;
        svg {
            fill: $alpheioscolorvividhover;
            stroke: $alpheioscolorvividhover;
        }
    }
    &.current {
        color: $alpheisocolorvividpressed;

        svg {
            fill: $alpheisocolorvividpressed;
        }
    }
}

@mixin alpheios-bright() {
    color: $alpheioscolorbright;
    svg {
        fill: $alpheioscolorbright;
        stroke: $alpheioscolorbright;
    }
    &:hover {
        color: $alpheioscolorbrighthover;
        svg {
            fill: $alpheioscolorbrighthover;
            stroke: $alpheioscolorbrighthover;
        }
    }
    &.current {
        color: $alpheisocolorbrightpressed;

        svg {
            fill: $alpheisocolorbrightpressed;
        }
    }
}

@mixin alpheios-neutral-bright() {
    @include alpheios-bright();
    color: $alpheioscolorneutrallightest;
    svg {
        fill: $alpheioscolorneutrallightest;
        stroke: $alpheioscolorneutrallightest;
    }
    &.current {
        color: $alpheioscolorbright;

        svg {
            fill: $alpheioscolorbright;
        }
    }
}


@mixin alpheios-muted-simple() {
    color: $alpheioscolormuted;
    &:hover {
        color: $alpheioscolorbright;
    }
}

@mixin alpheios-link() {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;

    &:hover {
        text-decoration: underline;
    }

    &.current {
        text-decoration: underline;
    }
    
}



@mixin alpheios-dark-vivid() {
    @include alpheios-vivid();
    color: $alpheioscolordark;

    svg {
        stroke: $alpheioscolordark;
        fill: $alpheioscolordark;
    }
}

@mixin alpheios-icon($width, $height) {
    svg {
        width: $width;
        height: $height;   
        display: inline-block;
    }
}

@mixin hidelabelXS() {
    .toolbar-button-text {
        display: none;
        @include media-breakpoint-up(sm) {
            display: inline-block;
        }
    }
}

@mixin alpheios-button($iconwidth, $iconheight) {
    border: none;
    height: auto;
    width: auto;
    text-decoration: none;
    position: relative;
    font-weight: normal;

    &:hover, 
    &:active {
        box-shadow: none;
        text-decoration: none;
        font-weight: bold;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }

    .toolbar-button-icon {
        display: inline;
        position: relative;
        @include alpheios-icon($iconwidth, $iconheight);
    }

    .toolbar-button-text {
        display: inline;
        position: relative;
        @include alpheios-body();
        margin-left: 5px;
    }    

    @include media-breakpoint-up(sm) {
        .toolbar-button-icon,
        .toolbar-button-text {
            display: inline-block;
        }
    }
}

@mixin alpheios-simple-button() {
    border-radius: 7px;
    border: 1px solid;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

@mixin alpheios-neutral() {
    color: $alpheioscolorneutrallightest;
    svg {
        fill: $alpheioscolorneutrallightest;
    }
    &:hover {
        color: $alpheioscolorneutraldark;
        svg {
            fill: $alpheioscolorneutraldark;
        }
    }
}

@mixin alpheios-neutral-vivid() {
    @include alpheios-vivid();
    color: $alpheioscolorneutrallightest;
    border-color: transparent;
    svg {
        fill: $alpheioscolorvivid;
        stroke: $alpheioscolorvivid;
    }
    &:hover {
        color: $alpheioscolorneutrallightest;
        background: $alpheioscolorvividhover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-color: transparent;
    }
}

@mixin alpheios-neutral-dark() {
    color: $alpheioscolordark;
    svg {
        fill: $alpheioscolordark;
        stroke: $alpheioscolordark;
    }
}


@mixin alpheios-muted() {
    color: $alpheioscolormuted;
    background-color: transparent;
    border-color: $alpheioscolormuted;
    box-shadow: none;

    &:hover {
        background-color: $alpheioscolormuted;
        color: $alpheioscolorneutrallightest;
        border-color: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &.active {
        outline: none;
        background-color: $alpheioscolormuted;
        color: $alpheioscolorneutrallightest;
        border-color: transparent;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
}

@mixin alpheios-modal-popup() {
    left: 2.5%;
    width: 95%;
    
    .modal-dialog {
        margin: 0;
        top: 64px;

        @include media-breakpoint-up(sm) {
            margin: 1.75rem auto;
            top: 0;
        }
    }

    .modal-content {
        padding: 20px;
        border-radius: 0;
        border: 0;

        @include media-breakpoint-up(sm) {
            padding: 40px;
            border: 1px solid $alpheioscolordark;
            border-radius: 10px;
        }
    }

    .modal-header {
        padding: 0 0 40px 0;
        border-bottom: 0;

        .toolbar-button-icon {
            cursor: pointer;
        }
    }

    .modal-title {
        margin: 0;
        padding: 0;
        @include alpheios-h3();
    }

    .modal-body {
        padding: 0;
        @include alpheios-body();

        a {
            @include alpheios-link();
            @include alpheios-vivid();
        }
    }

    .modal-footer {
        border-top: 0;
        padding: 70px 0 0 0;
        display: block; 
    }
}

@mixin collection-container() {
    min-height: 100%;
    padding: 20px 0;

    .browse-header,
    .browse-copyright {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .browse-header {
        margin-top: 0;
    }

    .browse-copyright {
        margin-top: 50px;
        @include media-breakpoint-up(md) {
            margin-top: 15px;
        } 
    }

    .browse-header-title {
        @include alpheios-h2();

        @include media-breakpoint-up(md) {
            @include alpheios-h3();
        }
    }
    .browse-header-desc {
        margin-bottom: 15px;
        @include alpheios-body();
        font-style: italic;
    }

    .copyright-button {
        @include alpheios-simple-button();
        @include alpheios-muted();
    }

    @include media-breakpoint-up(md) {
        margin-left: 15px;
        margin-right: 15px;

        .browse-header,
        .browse-copyright {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    @include media-breakpoint-up(lg) {
        .browse-header,
        .browse-copyright {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@mixin collection-list-style() {
    
    list-style: none;
    padding: 0;
    margin: 15px 0;
    
    .browse-list-item {
        background: $alpheioscolorneutrallightest;
        width: 100%;
        border-bottom: 1px solid $alpheioscolorneutrallight;

        &:last-item {
            border-bottom: 0;
        }

        .list-item-link {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 21px 20px;

            .list-item-icon {
                @include alpheios-vivid();
            }
        }
    }
    @include media-breakpoint-up(md) {
        margin-left: 15px;
        margin-right: 15px;
        li {
            width: 50%;
            max-width: 600px;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
    }
}

@mixin collection-cards-style() {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
        display: flex;
        padding: 13px 20px;
        border-radius: 10px;
        width: 100%;
        margin: 5px 0;

        justify-content: space-between;
        align-content: center;

        background: $alpheioscolorneutrallightest;

        span, a  {
            display: block;
        }
        a {
            @include alpheios-link();
            @include alpheios-vivid();

            &:hover {
                text-decoration: none;
            }
        }

        .card-link {
            font-weight: bold;
        }

        .right-part {
            text-align: center;
            @include alpheios-icon(30px, auto);
            .card-icon {
                margin-bottom: 5px;
            }
        }

        .left-part {
            .card-title {
                margin-bottom: 15px;
                line-height: 45px;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        margin: 0;
        padding: 22px 20px;

        li {
            max-width: 250px;
            margin: 15px 5px;
        }
    }
    @include media-breakpoint-up(md) {
        li {
            max-width: 	none;
            width: 250px;
            padding: 9px 20px;
        }
    }

    @include media-breakpoint-up(lg) {
        margin: -15px 0 0 -20px;
    }
}


/*************new*************/
@mixin alpheios-vivid-link() {
    color: $alpheioscolorvivid;
    &:hover {
        text-decoration: underline;
    }
}

@mixin alpheios-muted-link() {
    color: $alpheioscolormuted;
    &:hover {
        text-decoration: underline;
    }
}

@mixin alpheios-muted-icon-button() {
    color: $alpheioscolormuted;

    svg {
        fill: $alpheioscolormuted;
        stroke: $alpheioscolormuted;
    }

    &:hover {
        color: $alpheioscolormutedhover;

        svg {
            fill: $alpheioscolormutedhover;
            stroke: $alpheioscolormutedhover;
        }
    }
}

@mixin alpheios-bright-link() {
    color: $alpheioscolorbright;
    &:hover {
        text-decoration: underline;
    }
}

@mixin alpheios-bright-outline() {
    color: $alpheioscolorbright;
    background-color: transparent;
    border-color: $alpheioscolorbright;
    box-shadow: none;

    &:hover {
        background-color: $alpheioscolorbright;
        color: $alpheioscolorneutrallightest;
        border-color: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &.active {
        outline: none;
        background-color: $alpheioscolorbright;
        color: $alpheioscolorneutrallightest;
        border-color: transparent;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
}

@mixin  alpheios-content-section() {
    padding: 50px 0;

    @include media-breakpoint-up(md) {
        padding: 100px 0;
    }

    .content-section-list {
        @include alpheios-h4();
    }

    .content-section-header-left,
    .content-section-header-right {
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }

    .content-section-header-left {
        @include media-breakpoint-up(md) {
            padding-right: 50px;
        }
    }

    .content-section-header-right {
        @include media-breakpoint-up(md) {
            padding-left: 50px;
        }
    }

    .content-section-button {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    .content-section-image-block {
        text-align: center;

        img {
            display: inline-block;
            width: 80%;
            height: auto;
            max-width: 400px;

            @include media-breakpoint-up(md) {
                width: 100%;
            }
        }
    }

    .content-text-block-margin {
        margin-top: 50px;
    }

    .content-text-block {
        margin-bottom: 30px;
        p, ul {
            @include alpheios-h4();
        }
    }

    .content-text-block-alert {
        @include alpheios-body();
        font-weight: bold;
    
        background: $alpheioscolorbrighthover;
        color: $alpheioscolordark;
        border: 2px solid $alpheioscolorbright;
        padding: 10px;
    }

}



@mixin alpheios-body-texts() {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-sans-serif;
    line-height: 1.4;
}