@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "bootstrap_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: $font-family-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.lang_ara, .lang_ar {
    font-family: Amiri, serif;
}

a {
  color: $turquoise;
}

a:hover {
  color: $turquoise;
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  font-family: $font-family-serif;
  font-size: $font-size-base * 1.625;
}
h2 {
  font-family: $font-family-serif;
  font-size: $font-size-base * 1.5;
  font-weight: bold;
}

h3 {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base * 1.125;
  font-weight: bold;
}

h4 {
  font-family: $font-family-serif;
  font-size: $font-size-base * 1.125;
}

h5 {
  font-weight: 200;
  font-size: $font-size-base;
  font-family: $font-family-serif;
  font-style: italic;
}

.breadcrumb {
  background-color: $turquoise;
}

.breadcrumb-item a {
  color: white;
}

.breadcrumb .active {
  color: $alpheiosblue;
}

.alert-info {
  background-color: $mustardyellow;
  color: $midnightblue;
  font-weight: bold;
}

#reading-container article {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
.alpheios-hint-trigger-desktop {
  display: none;
}

@include media-breakpoint-up(lg) {
  #reading-container article {
    margin-left: 1em;
    margin-right: 1em;
  }

  .alpheios-hint-trigger-desktop {
    display: flex;
  }
}


/** Starting to try to make sense of alpheios reader styles **/

/** References **/

.col.card.reff {
  word-wrap: normal;
  word-break: keep-all;
}

#breadcrumb {
  text-transform: none !important;
  font-size: $font-size-base !important;
  background-color: $turquoise !important;
}

.entry-title {
  font-style: italic;
}

.l {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: end;
}

.milestone.tale {
  font-weight: bold;
  padding-top: 1em;
}

.milestone.para {
  min-height: 1em;
}

.milestone.chapter {
  display: inline-block;
  padding-right: 1em;
  font-weight: bold;
}

.p {
  padding-bottom: 1em;
}

footer.page-footer {
  background-color: $turquoise;
  color: $alpheiosblue;
}

footer.page-footer a {
  color: $mustardyellow;
}

footer.page-footer a:hover {
  color: $hoveryellow;
  text-decoration: underline;
}

/** TODO these are from the old theme-ext and need to be updated **/
#menu-container  .logo {
    width: auto;
}

/** for now hide the page break milestones **/
.pb {
  display: none;
  font-weight: thin;
  font-size: 0.5em;
  font-style: italic;
  color:grey;
}

.ex,
.supplied,
.unclear {
  color: rgb(80,80,80);
}

.unclear {
  text-decoration: underline dotted;
}

.lang_heb, .lang_ara, .lang_far, .lang_ar {
  text-align:right;
}

.lang_heb.center, .lang_ara.center, .lang_far.center, .lang_ar.center {
  text-align:right;
}

span.w::before {
  content:" ";
}

.center {
    text-align: center;
}


#treebank_container {
  height:600px;
}
span[token-selector="state.tokens"] {
  display:none;
}

/* Typeahead */

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

#fullsearch {
  margin-top:15px;
}


/* - from here changes that need to be made or finished for MVP */

.popover-content {
  display: none;
  color: $midnightblue;
}

* [data-toggle='popover'] {
  color: $turquoise;
  cursor: pointer;
}

.alpheios-text-source {
  font-size: small;
}

/** Playing with sidebar **/
#menu-container {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#menu-container .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#menu-container .menu-container-list {
  width: 15rem;
}

#reading-container {
  min-width: 100vw;
}

#wrapper.toggled #menu-container {
  margin-left: 0;
}

@media (min-width: 768px) {

  #menu-container {
    margin-left: 0;
  }
  #reading-container {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #menu-container {
    margin-left: -15em;
  }
}
