
.bibliog-popup {
    @include alpheios-modal-popup();

    .bibliog-popup-header {
        .toolbar-button-icon {
            @include alpheios-icon(30px, 30px);
            @include alpheios-vivid();
        }
    }

    .bibliog-popup-body {
        .copyright {
            padding-top: 20px;
        }
    }
    .bibliog-popup-footer {
        .bibliog-popup-footer-title {
            @include alpheios-h4();
        }
        
        .bibliog-popup-footer-link {
            @include alpheios-link-vivid();
            font-weight: bold;
            margin: 0;
        }   
    
        .bibliog-popup-footer-link-divider {
            width: 0;
            padding: 0;    
            margin: 0 10px 0 8px;
            border-right: 2px solid $alpheioscolordark;
        }
    }
    
}
