.breadcumb-navbar {
    overflow: hidden;
    display: block;
    text-align: center;

    @include media-breakpoint-up(sm) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    @include media-breakpoint-up(lg) {
        padding: 0 0 0 120px;
    }
}

.alpheios-nemo-toolbar {
    max-height: 48px;
    min-width: 254px;

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
}

.alpheios-nemo-toolbar-button {
    @include alpheios-neutral();
    @include alpheios-button(25px, 30px);
    .toolbar-button-text {
        padding-left: 5px;
    }
}

.nav-link-current-text {
    @include alpheios-vivid();
    @include alpheios-button(15px, 15px);

    .toolbar-button-icon {
        top: -3px;
    }
    .toolbar-button-text {
        @include alpheios-h4();
    }

    @include media-breakpoint-up(sm) {
        .toolbar-button-icon {
            vertical-align: top;
            top: 3px;
        }
        .toolbar-button-text {
            vertical-align: top;
        }
    }
}

.navbar-section-ref {
    display: flex;
    text-align: center;
    padding: 0.5rem 0;
    
    .subreference-all {
        @include alpheios-body();
    }
    .navbar-section-ref-link {
        @include alpheios-vivid();
        @include alpheios-button(15px, 15px);
        padding: 0 20px;
    }
}
