.breadcrumb-navbar {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    text-align: center;
    min-height: $breadcrumbs-height;
    padding: 0 20px;

    background-color: $alpheioscolordark;
    color: $alpheioscolorneutrallightest; 

    .breadcrumb {
        padding-left: 0;
        margin-bottom:0;
        background-color: $alpheioscolordark;
    }

    .breadcrumb-item a {
        @include alpheios-link();
        @include alpheios-neutral-bright();
        &:hover,
        &.current {
            text-decoration: none;
        }
    }

    @include media-breakpoint-up(sm) {
        justify-content: space-between;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 0 0 120px;

        .breadcrumb {
            padding-left: 0;
        }
    }
}

.alpheios-nemo-toolbar {
    visibility: hidden;
    max-height: 48px;
    min-width: 254px;

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
}

.alpheios-nemo-toolbar-button {
    @include alpheios-neutral();
    @include alpheios-button(25px, 30px);
    .toolbar-button-text {
        padding-left: 5px;
    }
}

.nav-link-current-text {
    @include alpheios-vivid();
    @include alpheios-button(15px, 15px);
    padding-top: 5px; 
    
    .toolbar-button-icon {
        top: -3px;
    }
    .toolbar-button-text {
        @include alpheios-h4();
        margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
        padding-top: 0; 
        .toolbar-button-icon {
            vertical-align: top;
            top: 0;
        }
        .toolbar-button-text {
            vertical-align: top;
        }
    }
}

.navbar-section-ref {
    display: flex;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    
    .subreference-all {
        @include alpheios-body();
        color: $alpheioscolordark;
    }
    .navbar-section-ref-link {
        @include alpheios-vivid();
        @include alpheios-button(15px, 15px);
        padding: 0 20px;
    }

    @include media-breakpoint-up(sm) {
        width: auto;
    }
}
