
body, html {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: 0;
    padding: 0;
    min-height: 0;
    background-color: $alpheioscolorneutrallight;
  }

  body {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }

  *[lang='grc'] {
      font-family: Georgia, "New Athena Unicode", Gentium, "Palatino Linotype", $font-family-serif;
  }

  .lang_ara, .lang_ar {
    font-family: Amiri, serif;
    text-align:right;
  }
  .lang_ara.center, .lang_ar.center, .lang_far.center {
    text-align:right;
  }


  button.btn.btn-icon {
    height:44px;
    width: 44px;
    color: $alpheioscolorneutrallightest;
    fill: $alpheioscolorneutrallightest;
    stroke: $alpheioscolorneutrallightest;
    border: none;
    padding: 0;
  }

  button.btn.btn-icon.btn-icon-md {
    height:unset;
    width:unset;
  }

  button.btn.btn-icon a {
    color: $alpheioscolorneutrallightest;
  }

  button.btn.btn-icon a:hover {
    color: $alpheioscolorbright;
  }

  button.btn.btn-icon:hover {
    color: $alpheioscolorbright;
    fill: $alpheioscolorbright;
    stroke: $alpheioscolorbright;
    background-color: $alpheioscolormuted;
  }

  button.btn.btn-icon svg {
    width: 44px;
    height: 44px;
    fill: $alpheioscolorneutrallightest;
    stroke: $alpheioscolorneutrallightest;
    color: $alpheioscolorneutrallightest;
  }

  button.btn.btn-icon.btn-icon-md svg {
    width: 44px;
    height: 20px;
    fill: $alpheioscolorneutrallightest;
    stroke: $alpheioscolorneutrallightest;
    color: $alpheioscolorneutrallightest;
  }

  button.btn.btn-icon span.icon-label {
    display:none;
  }

  footer.page-footer {
    background-color: $alpheioscolormuted;
    color: $alpheioscolorlight;
  }

  footer.page-footer a {
    color: $alpheioscolorlight;
  }

  footer.page-footer a:hover {
    color: $alpheioscolorbrighthover;
    text-decoration: underline;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url(../static/Menu-Icon.svg);
    background-color: $alpheioscolormuted;
  }
  .navbar {
    font-family: $font-family-sans-serif;
  }


  #mainnav {
    background-color: $alpheioscolormuted !important;
    color: $alpheioscolorneutrallightest !important;
  }

  #breadcrumb {
    text-transform: none;
    font-size: $font-size-base;
    background-color: $alpheioscolordark !important;
    font-weight: bold;
    margin: 0 auto;
    color: $alpheioscolorneutrallightest;
  }

  #breadcrumb ol.breadcrumb {
    margin-bottom:0;
  }

  .breadcrumb {
    background-color: $alpheioscolordark;
  }

  .breadcrumb-item a {
    color: $alpheioscolorneutrallightest;
  }

  .breadcrumb .active {
    color: $alpheioscolorlight;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    color: $alpheioscolorneutrallightest;
  }

  #textnav {
    font-size: $font-size-base;
    background-color: $alpheioscolordark !important;
    font-weight: bold;
    margin: 0 auto;
  }

  .alert-info {
    background-color: $alpheioscolorbright;
    color: $alpheioscolordark;
    font-weight: bold;
  }

  .alpheios-hint-trigger-desktop {
    display: none;
  }

  #browse-container article, #reading-container article {
    width: 100%;
  }

  .entry-content {
    max-width: 550px
  }

  .entry-title {
    font-style: italic;
  }

  .l {
    display: grid;
    grid-template-columns: minmax(max-content,30px) 1fr;
    column-gap: 1em;
    align-items: end;
  }

  .milestone.tale {
    font-family: $font-family-serif;
    font-size: $h4-mobile-font-size;
    font-weight: bold;
    text-align: center;
    padding-top: 1.2em;
  }

  .milestone.para {
    min-height: 1em;
  }

  .milestone.chapter {
    display:inline;
    font-weight: bold;
  }
  .milestone.chapter:after {
    content: ".";
  }

  .p {
    padding-bottom: 1em;
  }

  .pb, .milestone.page {
    display: none; /** for now hide the page break milestones **/
    font-weight: thin;
    font-size: 0.5em;
    font-style: italic;
    color:$alpheioscolorneutraldark;
  }

  .milestone.speech {
    display: none; /** hide speech milestones - seen in Plato's Apology **/
  }

  .ex,
  .supplied,
  .unclear {
    color: $alpheioscolorneutraldark;
  }

  .unclear {
    text-decoration: underline dotted;
  }


  span.w::before {
    content:" ";
  }

  /* Typeahead */

  .algolia-autocomplete {
    width: 100%;
  }
  .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
  }
  .algolia-autocomplete .aa-hint {
    color: $alpheioscolorneutrallightest;
  }
  .algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: $alpheioscolordark;
    border: 1px solid $alpheioscolordark;
    border-radius: 10px;
    border-top: none;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
    color: $alpheioscolorneutrallightest;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion a {
    color: $alpheioscolorbright;
  }

  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    text-decoration: underline;
    color: $alpheioscolorbright;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
  }

  .alpheios-nemo-toolbar {
    display: none;
  }

  .popover-content {
    display: none;
    color: $alpheioscolordark;
  }

  * [data-toggle='popover'] {
    color: $alpheioscolordark;
    cursor: pointer;
  }

  .alpheios-text-source {
    font-size: small;
  }

  .l-cite, .section {
    font-size: $h4-mobile-font-size;
  }

  /** Stephanus sections in Plato **/
  .milestone.section.Stephanus {
    font-size: $font-size-base;
    display: inline;
  }
  .milestone.section.Stephanus::before {
    content: " [";
  }
  .milestone.section.Stephanus::after {
    content: "] ";
  }

  .speaker {
    font-weight: bold;
    font-style: italic;
    font-size: $font-size-base;
    text-align: center;
    display: block;
    padding-top: 1.2em;
  }

  cite {
    text-align: right;
  }


  .head {
    font-weight: bold;
    font-size: $h4-mobile-font-size;
  }

  .newlevel {
    font-size: $h2-mobile-font-size;
    text-align: center;
  }

  .newlevel:after {
    content: "";
    display: block;
    background: url(../static/Divider-Sm.svg) no-repeat center center;
    border: none;
    height: 1rem;
  }

  /**
   * Responsive styles
   */

  @include media-breakpoint-up(lg) {

    .box-shadow-bottom {
      -moz-box-shadow: 4px 0px 4px rgba(0, 0, 0, .25);
      -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, .25);
      box-shadow: 4px 0px 4px rgba(0, 0, 0, .25);
    }

    .alpheios-hint-trigger-desktop {
      display: flex;
    }



    #reading-container {
      margin-left: 100px;
      margin-right: 100px;
    }
    button.btn.btn-icon span.icon-label {
      display:inline;
    }
    .newlevel:after {
      background: url(../static/Divider-Lg.svg) no-repeat center center;
    }

    .l-cite, .section, .newlevel, milestone.tale {
      font-size: $h3-font-size;
    }

    /** Stephanus sections in Plato **/
    .milestone.section.Stephanus {
      font-size: $font-size-base;
      display: inline;
    }

    .alpheios-nemo-toolbar {
      display: block;
    }
  }

  @media (min-width: 768px) {

    #browse-container, #reading-container {
      min-width: 0;
    }

  }

  .no-visibility {
    visibility: hidden;
  }
