.cc-banner {
    background: $alpheioscolordark;
    color: $alpheioscolorlight;
    opacity: 0.95;

    .cc-link {
        @include alpheios-bright-link();
    }

    .cc-btn.cc-dismiss {
        @include alpheios-bright-outline();
    }
}