.alpheios-button-tertiary, 
.alpheios-button-secondary, 
.alpheios-button-primary {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: 700;
    white-space: nowrap;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    overflow: visible;
    padding: 0.6em 1.2em;
    text-decoration: none;
    border-radius: 0.6em;
}

.alpheios-button-primary {
    color: $navbar-dark-color;
    background-color: $alpheioscolorvivid;
    text-decoration: none;
}