$help-icon-size: 24px;

.help-popup {
  @include alpheios-modal-popup();

  .help-popup-content {
    padding: 20px 30px;
    border-radius: 10px;

    @include media-breakpoint-up(sm) {
      padding: 40px;
    }
  }

  .help-popup-header {
    padding-bottom: 20px;
  }

  .help-popup-title {
    width: 100%;
    padding-left: $help-icon-size * 1.5;
    font-weight: bold;
  }

  .help-popup-list-item {
    margin-bottom: 15px;
    display: flex;
    column-count: 2;
    align-items: center;

    .help-popup-list-item-text {
      line-height: 1.5;
    }

    .help-popup-list-item-icon {
      @include alpheios-icon($help-icon-size, $help-icon-size);
      padding-right: $help-icon-size/2;
      svg {
          fill: $alpheioscolormuted;
      }
    }

    .help-popup-list-item-title,
    .help-popup-list-item-description {
        @include alpheios-large-label();
        display: block;
    }

    .help-popup-list-item-title {
        font-weight: bold;
    }
  }
  .help-popup-footer {
    padding: 20px 0 0 0;
    text-align: center;

    .help-popup-footer-button {
        @include alpheios-simple-button();
        @include alpheios-neutral-vivid();
        min-width: 190px;
    }
    .knownissues-button {
        @include alpheios-simple-button();
        @include alpheios-muted();
    }
  }
}
