.main-navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: $mainnavbar-height;
    padding-left: 20px;
    background-color: $alpheioscolormuted;
    color: $alpheioscolorneutrallightest;

    @include media-breakpoint-up(sm) {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    
    @include media-breakpoint-up(lg) {
        padding-left: 120px;
        padding-right: 100px;
    }
}    
.navbar-toggler {
    padding: 0 15px 0 0;

    @include alpheios-button(30px, 20px);
    @include alpheios-neutral();
}

.main-navbar-text {
    @include alpheios-h3();
    color: $alpheioscolorneutrallightest;
    padding: 0;
    margin: 0;
}

.main-navbar-logo {
    width: auto;
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
}

.btn.main-navbar-btn {
    @include alpheios-button(22px, 22px);
    @include alpheios-neutral-bright();
    @include hidelabelXS();
    padding-right: 0;
    padding-left: 20px;
    
    .toolbar-button-icon {
        @include media-breakpoint-up(sm) {
            @include alpheios-icon(20px, 20px);
        }
    }
}

.main-navbar {

    .main-navbar-logo {
        display: inline-block;
        vertical-align: middle;
    }

    .main-navbar-text {
        display: none;
    }

    
    @include media-breakpoint-up(sm) {
        .main-navbar-logo {
            display: none;
        }
        .main-navbar-text {
            display: inline-block;
        }
    }

    .navbar-left-part {
        .main-navbar-button {
            display: inline-block;
            vertical-align: middle;
        }

        .main-navbar-logo {
            vertical-align: middle;
        }

        .main-navbar-text {
            padding-left: 15px;
            top: 2px;
            position: relative;
            vertical-align: middle;
        }
        .navbar-toggler {
            padding-right: 0;
        }
        
        .navbar-logo-text-link {
            vertical-align: bottom;
            position: relative;
        }
    }

    img.logo {
        display: inline-block;
        width: 30px;
        margin-left: 7px;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.alpheios-layout-landscape.alpheios-layout-landscape-open-panel .main-navbar-reader {
    .navbar-full-data {
        display: none;
    }
    .navbar-close-panel {
        display: block;
    }
}
.main-navbar-reader {
    .navbar-close-panel {
        display: none;
    }
}