.main-navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: $mainnavbar-height;

    @include media-breakpoint-up(sm) {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    
    @include media-breakpoint-up(lg) {
        padding-left: 120px;
        padding-right: 100px;
    }
}    
.navbar-toggler {
    padding: 0 15px 0 0;
    @include alpheios-button(30px, 20px);
    @include alpheios-neutral();
}

.main-navbar-text {
    @include alpheios-h3();
    color: $alpheioscolorneutrallightest;
    padding: 0;
    margin: 0;
}

.btn.main-navbar-btn {
    @include alpheios-button(22px, 22px);
    @include alpheios-neutral-bright();
    @include hidelabelXS();
    padding-right: 0;
    padding-left: 20px;
    
    .toolbar-button-icon {
        @include media-breakpoint-up(sm) {
            @include alpheios-icon(20px, 20px);
        }
    }
}

.main-navbar {
    .main-navbar-text {
        padding-left: 15px;
    }

    .navbar-left-part {
        .main-navbar-button,
        .main-navbar-text {
            display: inline-block;
            vertical-align: middle;
        }

        .navbar-toggler {
            padding-right: 0;
        }
        
        .navbar-logo-text-link {
            vertical-align: bottom;
            position: relative;
            top: 2px; 

            img.logo {
                display: inline-block;
                width: 30px;
                margin-left: 7px;
            }

            .main-navbar-text {
                padding-left: 3px;
            }
        }
    }
}

