$logo-width: 50px;

.navlogin {
    display: none;
    padding: 17px 120px 17px 0;
    background: $navbar-dark-color;
    min-height: $navlogin-height;
    
    @include media-breakpoint-up(lg) {
        display: flex;
    }

    .navlogin-logo-container {
        
        a {
            display: inline-block;
            vertical-align: middle;
            width: $logo-width * 2;
            text-align: center;
            border-right: 1px solid $alpheioscolormuted;
        }

        img {
            width: $logo-width;
            display: inline-block;
        }

        h1 {
            display: inline-block;
            vertical-align: middle;
            padding-left: $logo-width / 2;
            margin: 0;
            @include alpheios-h1-mobile();
        }
    }
    .navlogin-login-container {
        position: relative;

        .logged-in-email,
        .log-out-text {
            display: none;
        }
        .log-in-button {
            margin: 0;
        }
        .logged-in-text {
            display: inline-block;
            vertical-align: baseline;
            color: $alpheioscolorvivid;
        }
        .navlogin-login-container-link {
            @include alpheios-button(12px, auto);
            @include alpheios-neutral-vivid();
            
            display: inline-block;

            .toolbar-button-icon svg {
                vertical-align: baseline;
            }
        }

        .m-dropdown-item:hover {
            font-weight: normal;
        }
    }

    .navlogin-dropdown-menu {
        left: auto;
        right: 0;
        padding: 10px;

        .m-dropdown-content {
            border: 0;
        }
        .m-dropdown-item {
            min-width: 0;
        }
    }
}

