$logo-width: 50px;
$down-caret-size: 12px;

.navlogin {
    display: none;
    padding: 2rem 2rem 1rem 2rem;
    background: $navbar-dark-color;

    .navlogin-logo-container {
        
        a {
            display: inline-block;
            vertical-align: middle;
            padding-right: $logo-width / 2;
        }

        img {
            width: $logo-width;
        }

        h1 {
            display: inline-block;
            vertical-align: middle;
            padding-left: $logo-width / 2;
            border-left: 1px solid $alpheioscolormuted;
            font-size: $logo-width / 2;
            margin: 0;
        }
    }
    .navlogin-login-container {
        position: relative;
        .navlogin-login-container-text {
          color: $alpheioscolorvivid;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
        }
        .navlogin-login-container-icon {
            display: inline-block;
            vertical-align: middle;
            padding-top: $down-caret-size / 3;
            svg {
                fill: $alpheioscolorvivid;
                width: $down-caret-size;
                height: auto;
            }

            cursor: pointer;
        }
    }

    .navlogin-dropdown-menu {
        left: auto;
        right: 0;
    }
}

@include media-breakpoint-up(lg) {
    .navlogin {
        display: flex;
    }
}
