$logo-width: 50px;
$down-caret-size: 12px;

.navlogin {
    display: none;
    padding: 26px 120px 26px 0;
    background: $navbar-dark-color;

    .navlogin-logo-container {
        
        a {
            display: inline-block;
            vertical-align: middle;
            width: $logo-width * 2;
            text-align: center;
            border-right: 1px solid $alpheioscolormuted;
        }

        img {
            width: $logo-width;
            display: inline-block;
        }

        h1 {
            display: inline-block;
            vertical-align: middle;
            padding-left: $logo-width / 2;
            margin: 0;
            @include aplheios-h1-mobile();
        }
    }
    .navlogin-login-container {
        position: relative;

        .navlogin-login-container-link {
            @include alpheios-menu-button-vivid();
            @include aplheios-button-text();
        }
        

        .navlogin-login-container-text {
          display: inline-block;
          vertical-align: middle;
          
        }

        .navlogin-login-container-icon {
            display: inline-block;
            vertical-align: middle;
            padding-top: $down-caret-size / 3;
            svg {
                width: $down-caret-size;
                height: auto;
            }

            cursor: pointer;
        }
    }

    .navlogin-dropdown-menu {
        left: auto;
        right: 0;
    }
}

@include media-breakpoint-up(lg) {
    .navlogin {
        display: flex;
    }
}
