.reference-browse-container {
    @include collection-container();

    .browse-header {
        .book-level-prev {
            @include alpheios-h3();
            @include alpheios-vivid();
            .link-icon {
                @include alpheios-icon(16px, 16px);
                svg {
                    vertical-align: baseline;
                }
                @include media-breakpoint-up(md) {
                    @include alpheios-icon(20px, 20px);
                }
            }
            &:hover {
                text-decoration: none;
            }
        }

        .browse-level-1 {
            .book-level-prev {
                cursor: default;
                color: $alpheioscolordark;
            }
        }

        .browse-level-2,
        .browse-level-3 {
            display: none;
        }
    }
    
    .reference-browse-cards {
        
        @include collection-list-style();
        margin-top: 0;

        .list-item-link {
            @include alpheios-link();
            @include alpheios-neutral-dark();
        }

        .reference-browse-cards {
            display: none; 
            margin: 0;
        }

        .collection-browse-cards {
            @include collection-cards-style();
            

            li.small-card {
                @include media-breakpoint-up(sm) {
                    max-width: 200px;
                }
                @include media-breakpoint-up(md) {
                    width: 200px;
                }

                .list-item-link {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }
}
.ref-book-item {
    .passages {
        display: none;
    }
}