@mixin aplheios-h3() {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;

    @include media-breakpoint-up(md) {
        font-size: 22px;
    }
}

@mixin aplheios-h4() {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

@mixin aplheios-body() {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

@mixin aplheios-h1-mobile() {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
}

@mixin aplheios-large-label() {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

@mixin aplheios-small-label() {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}


@mixin alpheios-icon($width, $height) {
    svg {
        width: $width;
        height: $height;   
        display: inline-block;
    }
}

@mixin hidelabelXS() {
    .toolbar-button-text {
        display: none;
        @include media-breakpoint-up(sm) {
            display: inline-block;
        }
    }
}

@mixin alpheios-button($iconwidth, $iconheight) {
    border: none;
    height: auto;
    width: auto;
    text-decoration: none;
    position: relative;

    &:hover, 
    &:active,
    &:focus {
        box-shadow: none;
        text-decoration: none;
        font-weight: bold;
    }

    .toolbar-button-icon {
        display: inline;
        position: relative;
        @include alpheios-icon($iconwidth, $iconheight);
    }

    .toolbar-button-text {
        display: inline;
        position: relative;
        @include aplheios-body();
    }    

    @include media-breakpoint-up(sm) {
        .toolbar-button-icon,
        .toolbar-button-text {
            display: inline-block;
        }
    }
}

@mixin alpheios-neutral() {
    color: $alpheioscolorneutrallightest;
    svg {
        fill: $alpheioscolorneutrallightest;
    }
    &:hover {
        color: $alpheioscolorneutraldark;
        svg {
            fill: $alpheioscolorneutraldark;
        }
    }
}

@mixin alpheios-vivid() {
    color: $alpheioscolorvivid;
    svg {
        fill: $alpheioscolorvivid;
        stroke: $alpheioscolorvivid;
    }
    &:hover {
        color: $alpheioscolorvividhover;
        svg {
            fill: $alpheioscolorvividhover;
            stroke: $alpheioscolorvividhover;
        }
    }
}

@mixin alpheios-neutral-vivid() {
    color: $alpheioscolorneutrallightest;
    svg {
        fill: $alpheioscolorvivid;
        stroke: $alpheioscolorvivid;
    }
    &:hover {
        color: $alpheioscolorbright;
        svg {
            fill: $alpheioscolorvividhover;
            stroke: $alpheioscolorvividhover;
        }
    }
}

@mixin alpheios-neutral-bright() {
    color: $alpheioscolorneutrallightest;
    svg {
        fill: $alpheioscolorneutrallightest;
        stroke: $alpheioscolorneutrallightest;
    }
    &:hover {
        color: $alpheioscolorbright;
        svg {
            fill: $alpheioscolorbright;
            stroke: $alpheioscolorbright;
        }
    }
}