$mobilePaddingTop: $mainnavbar-height + $breadcrumbs-height;
$desktopPaddingTop: $mainnavbar-height + $breadcrumbs-height + $navlogin-height;

.article-wrap {
    position: relative;
    height: 100%;

    padding-top: $mobilePaddingTop;

    &.article-text {
        padding-top: $mobilePaddingTop + $breadcrumbs-height * 1.3;
        background-color: $alpheioscolorneutrallightest;
    }


    .navlogin,
    .main-navbar,
    .breadcrumb-navbar {
        position: absolute;
        width: 100%;
        left: 0;
    }

    .main-navbar {
        top: 0;
    }

    .breadcrumb-navbar {
        top: $mainnavbar-height;
    }

    article {
        height: 100%;
    }
    .reading-container {
        background-color: $alpheioscolorneutrallightest;
        min-height: 100%;
    }

    @include media-breakpoint-up(sm) {
        &.article-text {
            padding-top: $mobilePaddingTop;
            background-color: transparent;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: $desktopPaddingTop - $navlogin-height;
        .main-navbar {
            top: 0;
        }
        .breadcrumb-navbar {
            top: $mainnavbar-height;
        }
    }

    .column.entry-content {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.article-wrap.fixed-navbar {
    padding-top: $mobilePaddingTop;
    .navlogin {
        display: none;
    }
    .navlogin,
    .main-navbar,
    .breadcrumb-navbar {
        position: fixed;
        z-index: 500;
    }
    .main-navbar {
        top: 0;
    }

    .breadcrumb-navbar {
        top: $mainnavbar-height;
    }

    .main-dropdown .main-dropdown-login,
    .main-dropdown .main-dropdown-logout {
        display: block;
    }
}

.l-cite, .section, .speaker {
    @include alpheios-h3-mobile();
    font-weight: normal;
    @include media-breakpoint-up(md) {
        @include alpheios-h3-mobile();
        font-weight: normal;
    }
}
.l, .p {
    @include alpheios-body-texts();
}

#find_subreference {
    &::-webkit-input-placeholder {
        font-style: italic;
     }
    &:-moz-placeholder {
        font-style: italic;  
     }
    &::-moz-placeholder {
        font-style: italic;  
     }
    &:-ms-input-placeholder {  
        font-style: italic; 
     }
}

